staging:
  hosts:
    - xxx.xxx.xxx.xxx
  key_filename: xxxxxx
  user: xxx
  password: xxx
  project:
    path: xxxx #this is path store source
    git: xxx #source code from git
    shared_path: xxx #share path data
    cache_source_path: xxx #cache path in code in path source 
    logs_source_path: xxx #logs path in code in path source 
  db:
    host: xxx.xxx.xxx.xxx
    port: xxxx
    username: xxxxx
    password: xxxxx
    database: xxxxx