staging:
  hosts:
    - xxx.xxx.xxx.xxx
  key_filename: xxxxxx
  user: xxx
  password: xxx
  project:
    path: xxxx #this is path store source
    git: xxx #source code from git
  db:
    host: xxx.xxx.xxx.xxx
    port: xxxx
    username: xxxxx
    password: xxxxx
    database: xxxxx